*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    background-color: orangered;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second_box{
    height: 80%;
    width: 80%;

    display: flex;
}
.left_box{
    height: 100%;
    width: 50%;
    background-color: white;
}
.right_box{
    height: 100%;
    width: 50%;
    background-color: beige;
}
.left_box img{
width: 100%;
height: 100%;

}
.dots{
    display: flex;

}
.dots div{ border-radius: 50%;
}
.dot1{
    width: 15px;
    height: 15px;
    background-color: brown;
}
.dot2{
    width: 17px;
    height: 17px;
    background-color: green;
}
.dot3{
    width: 20px;
    height: 20px;
    background-color: gray;
}
